{{ form_start(searchPostForm)}}
<div class="form-row">

    {{ form_row(searchPostForm.city) }}

</div>
<div class="col mb-4">
    <button class="btn btn-primary">Rechercher</button>

</div>
</div>
{{ form_end(searchPostForm)}}