{{ form_start(formData) }}


<h4>Type</h4>
{{ form_row(formData.postTypes) }}
<h4>Ville</h4>
{{ form_row(formData.city) }}

<button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{ form_end(formData) }}